body {
  margin-top: 70px;
}
.comment-space {
  background: rgb(200, 200, 223);
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 130px 20px;
}
h1,
h2,
#characters,
p,
.link {
  text-align: center;
}

h1 {
  color: white;
  font-size: 42px;
}
h2 {
  font-size: 34px;
}
input {
  font-size: 18px;
  margin: 15px auto;
  padding: 5px;
  font-family: monospace;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
#name,
#email,
#comment {
  width: 50%;
}
#comment {
  margin: 0 auto;
  padding: 5px;
  font-size: 18px;
}
#submit {
  padding: 15px;
  background: white;
  color: rgb(122, 122, 199);
  border: 1px solid rgb(122, 122, 199);
  border-radius: 10px;
}
#submit:hover {
  cursor: pointer;
}
#characters {
  font-size: 18px;
  margin-top: 10px;
}
p,
input,
#comment {
  display: block;
}
#paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link {
  margin-top: 140px;
}
@media (max-width: 640px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  input,
  #comment,
  #warning,
  #characters {
    font-size: 12px;
  }
  .comment-space {
    width: 85%;
  }
  #name,
  #email,
  #comment {
    width: 70%;
  }
  .link {
    font-size: 9px;
  }
  span {
    font-size: 12px !important;
  }
}
